@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'common/fonts';
@import 'common/icomoon';
@import 'layout/header';

.custom-horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #F1F1F1;
    margin: 16px 0;
}

.custom-horizontal-line2 {
    width: 100%;
    height: 2px;
    background-color: #F1F1F1;
    margin: 0px 0 8px;
}

.card-content {
    height: 250px;
}

.white-placeholder::placeholder {
    color: white;
}
.black-placeholder::placeholder {
    color: #303030;
}

button.enabled {
    background-color: #7D00E2;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 4px 6px rgba(0, 0, 0, 0.12);
}

button.disabled {
    background-color: #CCCCCC;
    color: #878787;
    cursor: not-allowed;
    box-shadow: none;
}

#previewImage:hover {
    filter: grayscale(50%);
    cursor: pointer;
}

#changeText {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    pointer-events: none;
}

#previewContainer:hover #previewImage {
    filter: brightness(0.5);
}

.link {
    color: #A535FF;
    text-decoration: none;
}

.w-75 {
    width: 75px;
}

.h-60 {
    height: 60px;
}

.h-75 {
    height: 75px;
}

.custom-full-width {
    width: 100%;
    max-width: 100%;
}

.highlight {
    background-color: #EAD6FA; /* Change this to your desired color */
}

.notification-text {
    max-width: 310px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* The number of lines you want to show before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.container {
    max-width: 1440px;
}

