<ul class="hidden md:flex flex-col md:flex-row md:space-x-6 text-base font-bold">
    <li>
        <a href="{{ path('customer_explore') }}" aria-current="page" class="text-gray-200 hover:text-white focus:text-white focus:outline-none">Explore</a>
    </li>
    <li>
        <a href="#" class="text-gray-200 hover:text-white focus:text-white focus:outline-none" aria-current="page">Marketplace</a>
    </li>
    <li>
        <a href="#" class="text-gray-200 hover:text-white focus:text-white focus:outline-none" aria-current="page">Sell</a>
    </li>
    <li>
        <a href="#" class="text-gray-200 hover:text-white focus:text-white focus:outline-none" aria-current="page">Collection</a>
    </li>
    <li>
        <a href="#" class="text-gray-200 hover:text-white focus:text-white focus:outline-none" aria-current="page">Blog</a>
    </li>
</ul>