#sign_in_submit.filled {
  background-color: #C7FD69 !important;
  border-color: #C7FD69 !important;
}

#sign_in_submit.filled:hover,
#sign_in_submit.filled:focus {
  background-color: #B3FF2E !important;
  border-color: #B3FF2E !important;
}

#sign_in_submit.empty {
  background-color: #CCCC !important;
  color: #E5E7EB !important;
  border-color: #CCCC !important;
  pointer-events: none;
}