<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <title>{% block title %}{% endblock %}Gengemz</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="{% if bodyBackgroundClass is defined %}{{ bodyBackgroundClass }}{% else %}bg-main-bg{% endif %}">
        <div class="{% if whithoutFooter is defined %}block{% else %}flex flex-col h-screen justify-between{% endif %}">
            <main class="mb-auto">
                {% if whithoutHeader is not defined %}
                <header>
                    {% include "customer/layout/_header.html.twig" %}
                </header>
                {% endif %}

                {% block content %}{% endblock %}
            </main>

            {% if whithoutFooter is not defined %}
            <footer>
                {% include "customer/layout/_footer.html.twig" %}
            </footer>
            {% endif %}
        </div>
    </body>

    {% block js %}{% endblock %}
</html>
