{% extends 'customer/base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}
<div class="container flex flex-row mx-auto mt-10 mb-10">
    <div class="bg-white border border-gray-200 rounded-tr-lg rounded-br-lg shadow-xl w-full min-h-65-screen">
        <div class="flex flex-row">
            <div class="flex flex-col bg-[#F1F1F1] px-8 w-1/6 min-h-65-screen">
                <p class="font-ubuntu font-medium text-2xl text-black-text mt-10 pb-2">SETTINGS</p>
                <p class="font-ubuntu font-medium text-lg text-disabled-gray pb-1">GENERAL</p>
                <p class="font-lato font-medium text-lg text-black-text hover:bg-[#F5EBFD] highlight" id="tab-account-settings">Account Settings</p>
                <p class="font-lato font-medium text-lg text-black-text hover:bg-[#F5EBFD]" id="tab-privacy-newsletters">Privacy & Newsletters</p>
                <p class="font-lato font-medium text-lg text-black-text hover:bg-[#F5EBFD]" id="tab-language-location">Language & addresses</p>
            </div>
            <div class="flex flex-col mt-10 mx-10 w-5/6 min-h-65-screen">
                <div id="content-account-settings" class="tab-content">
                    <p class="font-ubuntu font-medium text-xl text-black-text">Account information</p>
                    <div class="custom-horizontal-line"></div>
                    <p class="font-lato font-medium text-md text-disabled-gray pb-1">Username</p>
                    <div class="flex flex-row items-center">
                        <textarea disabled style="width: 22rem;" id="username" rows="1" class="text-black p-2.5 pl-4 resize-none font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]">Diderotto</textarea>
                        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
                    </div>
                    <p class="font-lato font-medium text-md text-disabled-gray mt-4 pb-1">E-mail address</p>
                    <div class="flex flex-row items-center">
                        <textarea disabled style="width: 22rem;" id="email" rows="1" class="text-black p-2.5 pl-4 resize-none font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]">carlos@gengemz.com</textarea>
                        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
                    </div>
                    <p class="font-ubuntu font-medium text-xl text-black-text mt-2">Password</p>
                    <div class="custom-horizontal-line"></div>
                    <button type="button" class="py-1.5 px-2 mr-2 mb-2 mb-6 mt-2 text-md font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
                        <div class="flex flex-row items-center justify-center">
                            <p class="font-ubuntu text-md">Change password</p>
                        </div>
                    </button>
                    <p class="font-ubuntu font-medium text-xl text-black-text mt-2">Profile picture</p>
                    <div class="custom-horizontal-line"></div>
                    <div class="flex flex-row items-center mb-6">
                        <img src="{{asset("build/app/img/avatar2 3.png")}}" class="rounded-full basis-1/6 object-cover flex-initial mt-2">
                        <div class="flex flex-col pl-4 place-items-center">
                            <button type="button" class="ml-1 py-1.5 px-2 mr-2 mb-2 mb-6 mt-2 text-md font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
                                <div class="flex flex-row items-center justify-center">
                                    <p class="pl-1 font-ubuntu text-md">Change</p>
                                </div>
                            </button>
                            <p class="font-lato font-medium text-md text-disabled-gray">Max size: 10 MB</p>
                            <p class="font-lato font-medium text-md text-disabled-gray">PNG or JPG/JPEG only</p>
                        </div>
                    </div>
                    <p class="font-ubuntu font-medium text-xl text-black-text mt-2">Date of birth</p>
                    <div class="custom-horizontal-line"></div>
                    <div class="flex flex-row items-center mb-20">
                        <input type="date" id="dateofbirth" class="text-black p-2.5 pl-4 font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]" value="1993-06-26" disabled>
                        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
                    </div>
                </div>
                <div id="content-privacy-newsletters" class="tab-content hidden">
                    <div class="flex flex-row items-end">
                        <p class="font-ubuntu font-medium text-xl text-black-text">Privacy settings</p>
                        <p class="font-lato font-medium text-md text-disabled-gray ml-4">You can choose who you share your content with</p>
                    </div>
                    <div class="custom-horizontal-line"></div>
                    <button type="button" class="py-1.5 px-2 mr-2 mb-2 mb-6 mt-2 text-md font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
                        <div class="flex flex-row items-center justify-center">
                            <p class="font-ubuntu text-md">Change privacy settings</p>
                        </div>
                    </button>
                    <p class="font-ubuntu font-medium text-xl text-black-text mt-2">E-Mail notification settings</p>
                    <div class="custom-horizontal-line"></div>
                    <p class="font-lato font-medium text-md text-disabled-gray mt-4 pb-6">Currently, we will only send you critical e-mail notifications (when you sell a game, to confirm your orders, etc). More notification types will be added in the future and you will be able to opt in or out in this section.</p>
                    <p class="font-ubuntu font-medium text-xl text-black-text mt-2">Newsletters</p>
                    <div class="custom-horizontal-line"></div>
                    <div class="flex flex-row items-center mt-6">
                        <button type="button" class="py-1.5 px-2 mr-2 text-md font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
                            <div class="flex flex-row items-center justify-center">
                                <p class="font-ubuntu text-md">Subscribe to our newsletter</p>
                            </div>
                        </button>
                        <p class="font-lato font-medium text-md text-disabled-gray ml-4">You can unsubscribe at any time</p>
                    </div>

                </div>
                <div id="content-language-location" class="tab-content hidden">
                    <p class="font-ubuntu font-medium text-xl text-black-text">Language & location</p>
                    <div class="custom-horizontal-line"></div>
                    <p class="font-lato font-medium text-md text-disabled-gray pb-1">Country</p>
                    <div class="flex flex-row items-center">
                        <textarea disabled style="width: 22rem;" id="username" rows="1" class="text-black p-2.5 pl-4 resize-none font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]">Denmark</textarea>
                        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
                    </div>
                    <p class="font-lato font-medium text-md text-disabled-gray mt-4 pb-1">Currency</p>
                    <div class="flex flex-row items-center">
                        <textarea disabled style="width: 22rem;" id="email" rows="1" class="text-black p-2.5 pl-4 resize-none font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]">Danish Krone</textarea>
                        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
                    </div>
                    <p class="font-ubuntu font-medium text-xl text-black-text mt-2">Addresses</p>
                    <div class="custom-horizontal-line"></div>
                    <p class="font-lato font-medium text-md text-disabled-gray mt-4 pb-1">Main</p>
                    <div class="flex flex-row items-center mb-4">
                        <textarea disabled style="width: 22rem;" id="email" rows="1" class="text-black p-2.5 pl-4 resize-none font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]">Passeig d’Amunt 24, 2º2ª, Barcelona, 08022</textarea>
                        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
                    </div>
                    <button type="button" class="py-1.5 px-2 mr-2 text-md font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
                        <div class="flex flex-row items-center justify-center">
                            <p class="font-ubuntu text-md">Add another address</p>
                        </div>
                    </button>
                </div>
            </div>            
        </div>
    </div>
</div>

<script>
  document.querySelectorAll('[id^="tab-"]').forEach(tab => {
    tab.addEventListener('click', () => {
      // Remove the "highlight" class from the previously highlight tab
      document.querySelector('.highlight').classList.remove('highlight');

      // Add the "highlight" class to the clicked tab
      tab.classList.add('highlight');

      // Hide all content sections
      document.querySelectorAll('.tab-content').forEach(content => {
        content.classList.add('hidden');
      });

      // Show the content section corresponding to the clicked tab
      const contentId = 'content' + tab.id.slice(3);
      document.getElementById(contentId).classList.remove('hidden');
    });
  });
  document.querySelectorAll('.edit').forEach(editButton => {
  editButton.addEventListener('click', () => {
    const input = editButton.previousElementSibling;
    if (input.disabled) {
      input.disabled = false;
      input.focus();
      editButton.textContent = 'Save';
    } else {
      input.disabled = true;
      editButton.textContent = 'Edit';
      // Save the new value, for example, by sending it to the server using AJAX.
    }
  });
});
</script>
{% include "customer/home/tabcontents.html.twig" %}


{% endblock %}