<div class="bg-purpleggz">
    <div class="max-w-4xl mx-auto py-8">
        <div class="flex flex-row justify-between font-lato text-sm">
            <div class="flex flex-col items-center space-y-0.5">
                <span class="font-bold text-white pb-2 text-base">Gengemz</span>
                <a href="#" class="font-semibold text-gray-200 font-medium hover:text-white focus:text-white focus:outline-none">About us</a>
                <a href="#" class="font-semibold text-gray-200 font-medium hover:text-white focus:text-white focus:outline-none">Contact</a>
            </div>
            <div class="flex flex-col items-center space-y-0.5">
                <span class="font-bold text-white pb-2 text-base">Support</span>
                <a href="#" class="font-semibold text-gray-200 font-medium hover:text-white focus:text-white focus:outline-none">Help center</a>
                <a href="#" class="font-semibold text-gray-200 font-medium hover:text-white focus:text-white focus:outline-none">FAQ</a>
                <a href="#" class="font-semibold text-gray-200 font-medium hover:text-white focus:text-white focus:outline-none">Guides</a>
            </div>
            <div class="flex flex-col items-center space-y-0.5">
                <span class="font-bold text-white pb-2 text-base">Community</span>
                <a href="#" class="font-semibold text-gray-200 font-medium hover:text-white focus:text-white focus:outline-none">Our Values</a>
                <a href="#" class="font-semibold text-gray-200 font-medium hover:text-white focus:text-white focus:outline-none">Master of Gems</a>
            </div>
            <div class="flex flex-col items-center space-y-0.5">
                <span class="font-bold text-white pb-2 text-base">Follow us</span>
            </div>
        </div>
    </div>
</div>

<div class="bg-[#5C00A6]">
    <div class="max-w-4xl mx-auto py-6 text-sm text-white text-center font-semibold">
        <span>@2022 Gengemz - Política de privacidad - Términos y condiciones - Política de cookies</span>
    </div>
</div>
