{% extends 'customer/base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}
<div class="container flex mx-auto flex-row space-x-3 mt-10">
    <div class="flex-1 bg-white border border-gray-200 rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex flex-col mt-10 mx-10">
            <p class="font-lato font-bold text-lg text-disabled-gray pb-4">Order <span class="text-purpleggz2">#37474</span> completed</p>
            <p class="font-lato font-bold text-2xl text-black-text pb-4">Thanks for your order!</p>
            <p class="font-lato font-bold text-lg text-black-text pb-4">It will be posted to:</p>
            <p class="pb-4">Matías Prats C/ Gengemz, 23, 1º4ª Barcelona 08022 España</p>
            <p class="font-lato font-bold text-sm text-purpleggz2 pb-1">See order details</p>
            <p class="font-lato font-bold text-sm text-purpleggz2 mb-10">See your complete order history</p>
            <button id="home" type="button" class="mb-10 text-[#FFFFFF] bg-[#7D00E2] focus:ring-4 focus:outline-none focus:ring-[#C6C6C6] hover:bg-[#6B00C1] font-bold font-ubuntu rounded-lg text-xl py-2.5 text-center inline-flex mx-auto px-4 mb-2">
            GO BACK HOME
            </button>
        </div>
    </div>
</div>


{% endblock %}