{% extends 'base_with_footer.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<div class="container mx-auto mt-10">
    <div class="flex flex-row justify-between">
        <p class="text-xl font-ubuntu font-bold text-purpleggz">Games <span class="px-1 text-disabled-gray">></span> Mario Universe <span class="px-1 text-disabled-gray">></span> Super Mario series <span class="px-1 text-disabled-gray">></span></p>
        <p class="text-md font-ubuntu font-bold text-purpleggz2">Edit this page</p>
    </div>
    <div class="flex space-x-6 justify-between mt-6">
        <div class="flex flex-col">
            <img class="max-w-full h-auto cover_big border-[#D6D6D6] border-2" src="https://images.igdb.com/igdb/image/upload/t_cover_big/co2gn3.png" style="height: 275px;">
            <button type="button" class="ml-1 mt-2 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <div class="flex flex-row items-center">
                    <svg width="30" height="30" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
                    </svg>
                    <p class="pl-1 font-ubuntu text-md">ADD TO LIST</p>
                </div>
            </button>
        </div>
        <div class="flex flex-col items-end basis-1/4">
            <div class="w-full">
                <p class="text-4xl font-bold pb-6 font-ubuntu text-purpleggz">Hogwarts Legacy</p>
            </div>
            <div class="w-full">
                <p class="font-lato font-bold text-black-text text-xl">Platform(s):  <span class="link">Nintendo 64</span>, <span class="link">PlayStation 4</span>, <span class="link">PlayStation 5</span></p>
            </div>
            <div class="w-full">
                <p class="font-lato font-bold text-black-text text-xl">Developer:  <span class="link">Nintendo</span></p>
            </div>
            <div class="w-full">
                <p class="font-lato font-bold text-black-text text-xl">Publisher:  <span class="link">Nintendo</span></p>
            </div>
            <div class="w-full">
                <p class="font-lato font-bold text-black-text text-xl">Release Date:  23/05/1993</p>
            </div>
            <div class="w-full">
                <p class="font-lato font-bold text-black-text text-xl pb-2">Genre(s):  <span class="link">Platform</span></p>
            </div>
        </div>
        <div class="flex-1 flex justify-end">
            <div class="flex flex-col items-center">
                <div class="block max-w-lg pt-2 pb-2 px-6 bg-white border border-gray-200 rounded-lg shadow-xl opacity-14 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <div class="flex flex-col">
                        <div class="flex flex-row items-center justify-between">
                            <div class="flex flex-row items-center">
                                <svg aria-hidden="true" class="w-11 h-11 text-purpleggz gap-0 mt-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                <div class="flex flex-row">
                                    <p class="text-5xl font-ubuntu font-bold tracking-tight text-purpleggz2 dark:text-white">4,5</p>
                                    <div class="items-bottom self-end mb-2 ml-2">
                                        <p class="text-3xl font-ubuntu font-bold tracking-tight text-purpleggz2 dark:text-white">out of 5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col items-center self-end mb-2">
                                <p class="font-lato font-bold text-sm text-black-text">Your rating</p>
                                <div class="flex items-center">
                                    <svg aria-hidden="true" class="w-6 h-6 text-[#E6E6E6] gap-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                    <svg aria-hidden="true" class="w-6 h-6 text-[#E6E6E6]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                    <svg aria-hidden="true" class="w-6 h-6 text-[#E6E6E6]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                    <svg aria-hidden="true" class="w-6 h-6 text-[#E6E6E6]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                    <svg aria-hidden="true" class="w-6 h-6 text-[#E6E6E6] dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fifth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="flex pt-12 pb-3">
                            <div class="flex flex-row items-center">
                                <img src="{{asset('build/app/img/avatar2 3.png')}}" class="rounded-full object-cover flex-initial w-75 h-75">
                                <p class="font-lato text-md w-32 break-words text-center">
                                    <span class="link">Diderotto</span> and <span class="link">25.830 others</span> own this game
                                </p>
                            </div>
                            <div class="flex flex-row items-center">
                                <img src="{{asset('build/app/img/avatar2 3.png')}}" class="rounded-full object-cover flex-initial w-75 h-75">
                                <p class="font-lato text-md w-32 break-words text-center">
                                    <span class="link">785 users</span> want this game
                                </p>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex flex-col items-center">
                        <button type="button" style="width: 160px;" class="ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            <div class="flex flex-row items-center justify-center">
                                <p class="pl-1 font-ubuntu text-md">BUY</p>
                            </div>
                        </button>
                        <p class="font-lato font-bold text-sm text-[#969696]"><span class="link">85 units</span> from 25,50€</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <button type="button" style="width: 160px;" class="ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            <div class="flex flex-row items-center justify-center">
                                <p class="pl-1 font-ubuntu text-md">SELL</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-[#F1F1F1] pb-40">
    <div class="container mx-auto mt-10">
        <div class="custom-full-width bg-[#F1F1F1] mt-6">
            <div class="flex">
                <p class="font-ubuntu text-2xl font-bold text-black-text mt-6">Editions <span class="text-disabled-gray font-medium">(24)</span></p>
            </div>
            <div class="flex flex-row">
                <button type="button" class="flex-shrink-0 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
                    <div class="flex flex-row items-center justify-center">
                        <svg fill="none" width="30" height="30" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"></path>
                        </svg>
                        <p class="pl-1 font-ubuntu text-md">Show all</p>
                    </div>
                </button>
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown-editions1" class="text-left flex-1 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                    <div class="flex flex-col justify-left w-full">
                        <p class="font-ubuntu text-sm font-bold text-disabled-gray">FORMAT</p>
                        <p class="font-ubuntu text-md text-black-text">All</p>
                    </div>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown-editions1" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 dark:bg-gray-700">
                    <ul class="py-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Physical Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Digital Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                    </li>
                    </ul>
                </div>
                <button id="dropdownDefaultButton2" data-dropdown-toggle="dropdown-editions2" class="text-left flex-1 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                    <div class="flex flex-col justify-left w-full">
                        <p class="font-ubuntu text-sm font-bold text-disabled-gray">PLATFORM</p>
                        <p class="font-ubuntu text-md text-black-text">All</p>
                    </div>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown-editions2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 dark:bg-gray-700">
                    <ul class="py-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Physical Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Digital Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                    </li>
                    </ul>
                </div>
                <button id="dropdownDefaultButton3" data-dropdown-toggle="dropdown-editions3" class="text-left flex-1 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                    <div class="flex flex-col justify-left w-full">
                        <p class="font-ubuntu text-sm font-bold text-disabled-gray">REGION</p>
                        <p class="font-ubuntu text-md text-black-text">All</p>
                    </div>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown-editions3" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 dark:bg-gray-700">
                    <ul class="py-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Physical Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Digital Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                    </li>
                    </ul>
                </div>
                <button id="dropdownDefaultButton4" data-dropdown-toggle="dropdown-editions4" class="text-left flex-1 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                    <div class="flex flex-col justify-left w-full">
                        <p class="font-ubuntu text-md font-bold text-disabled-gray">Advanced filters</p>
                    </div>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown-editions4" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 dark:bg-gray-700">
                    <ul class="py-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Physical Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Digital Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                    </li>
                    </ul>
                </div>
                <button id="dropdownDefaultButton5" data-dropdown-toggle="dropdown-editions5" class="text-left flex-shrink-0 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                    <div class="flex flex-col justify-left w-full">
                        <p class="font-ubuntu text-sm font-bold text-disabled-gray">PER PAGE</p>
                        <p class="font-ubuntu text-md text-black-text">-</p>
                    </div>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown-editions5" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-40 dark:bg-gray-700">
                    <ul class="py-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Physical Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Digital Edition</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
                <table class="w-full text-md font-lato text-left text-black-text">
                    <thead class="text-md text-purpleggz2 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Format
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Platform
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Region
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Year
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Tags
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b hover:bg-[#F5EBFD]">
                            <th scope="row" class="px-6 py-4 font-semibold text-black-text whitespace-nowrap dark:text-white">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b hover:bg-[#F5EBFD]">
                            <th scope="row" class="px-6 py-4 font-medium font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                                Microsoft Surface Pro
                            </th>
                            <td class="px-6 py-4">
                                White
                            </td>
                            <td class="px-6 py-4">
                                Laptop PC
                            </td>
                            <td class="px-6 py-4">
                                $1999
                            </td>
                            <td class="px-6 py-4">
                                $1999
                            </td>
                            <td class="px-6 py-4">
                                $1999
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex flex-row items-stretch mt-10">
                <div class="flex flex-col mr-2 w-2/3">
                    <p class="font-ubuntu text-2xl font-bold text-black-text">Reviews</p>
                    <div class="flex-1 mt-4 pb-2 px-6 bg-white border border-gray-200 rounded-lg shadow-xl opacity-14 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex justify-center items-center h-full">
                            <p class="text-disabled-gray">Coming soon! ^_^</p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col ml-1 w-1/3">
                    <p class="font-ubuntu text-2xl font-bold text-black-text">Credits</p>
                    <div class="flex-1 mt-4 bg-white border border-gray-200 rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex flex-col items-center">
                            <div class="flex flex-col card-content items-center">
                                <div class="flex space-x-8 pt-8">
                                    <div class="flex flex-col items-center">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Shigeru_Miyamoto_20150610_%28cropped%29.jpg" class="w-custom-105 h-custom-142 object-cover border-2 border-gray-border">
                                        <p class="mt-2 font-ubuntu font-regular text-purpleggz2" style="width: 105px; word-wrap: break-word; text-align: center;">Shigeru Miyamoto</p>
                                        <p class="font-ubuntu italic text-disabled-gray" style="width: 105px; word-wrap: break-word; text-align: center;">Game Director</p>  
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Yoshiaki_Koizumi_2007.jpg" class="w-custom-105 h-custom-142 object-cover border-2 border-gray-border">
                                        <p class="mt-2 font-ubuntu font-regular text-purpleggz2" style="width: 105px; word-wrap: break-word; text-align: center;">Yoshiaki Koizumi</p>
                                        <p class="font-ubuntu italic text-disabled-gray" style="width: 105px; word-wrap: break-word; text-align: center;">Assistant Director</p>  
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Takashi_Tezuka_2015_%28cropped%29.jpg/220px-Takashi_Tezuka_2015_%28cropped%29.jpg" class="w-custom-105 h-custom-142 object-cover border-2 border-gray-border">
                                        <p class="mt-2 font-ubuntu font-regular text-purpleggz2" style="width: 105px; word-wrap: break-word; text-align: center;">Takashi Tezuka</p>
                                        <p class="font-ubuntu italic text-disabled-gray" style="width: 105px; word-wrap: break-word; text-align: center;">Assistant Director</p>    
                                    </div>
                                </div>
                            </div>
                            <div class="custom-horizontal-line" style="margin-top: 50px;">
                            </div>
                            <p class="font-bold font-lato text-purpleggz dark:text-gray-400 pb-4">See full list</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "home/tabcontents.html.twig" %}


{% endblock %}