<div id="content-language-location" class="tab-content hidden">
    <p class="font-ubuntu font-medium text-xl text-black-text">Language & location</p>
    <div class="custom-horizontal-line"></div>
    <p class="font-lato font-medium text-md text-disabled-gray pb-1">Country</p>
    <div class="flex flex-row items-center">
        <textarea disabled style="width: 22rem;" id="username" rows="1" class="text-black p-2.5 pl-4 resize-none font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]">Denmark</textarea>
        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
    </div>
    <p class="font-lato font-medium text-md text-disabled-gray mt-4 pb-1">Currency</p>
    <div class="flex flex-row items-center">
        <textarea disabled style="width: 22rem;" id="email" rows="1" class="text-black p-2.5 pl-4 resize-none font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]">Danish Krone</textarea>
        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
    </div>

    <p class="font-ubuntu font-medium text-xl text-black-text mt-2">Addresses</p>
    <div class="custom-horizontal-line"></div>
    <p class="font-lato font-medium text-md text-disabled-gray mt-4 pb-1">Main</p>
    <div class="flex flex-row items-center mb-4">
        <textarea disabled style="width: 22rem;" id="email" rows="1" class="text-black p-2.5 pl-4 resize-none font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]">Passeig d’Amunt 24, 2º2ª, Barcelona, 08022</textarea>
        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
    </div>
    <button type="button" class="py-1.5 px-2 mr-2 text-md font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
        <div class="flex flex-row items-center justify-center">
            <p class="font-ubuntu text-md">Add another address</p>
        </div>
    </button>
</div>