<div id="content-privacy-newsletters" class="tab-content hidden">
    <div class="flex flex-row items-end">
        <p class="font-ubuntu font-medium text-xl text-black-text">Privacy settings</p>
        <p class="font-lato font-medium text-md text-disabled-gray ml-4">You can choose who you share your content with</p>
    </div>
    <div class="custom-horizontal-line"></div>
    <button type="button" class="py-1.5 px-2 mr-2 mb-2 mb-6 mt-2 text-md font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
        <div class="flex flex-row items-center justify-center">
            <p class="font-ubuntu text-md">Change privacy settings</p>
        </div>
    </button>

    <p class="font-ubuntu font-medium text-xl text-black-text mt-2">E-Mail notification settings</p>
    <div class="custom-horizontal-line"></div>
    <p class="font-lato font-medium text-md text-disabled-gray mt-4 pb-6">Currently, we will only send you critical e-mail notifications (when you sell a game, to confirm your orders, etc). More notification types will be added in the future and you will be able to opt in or out in this section.</p>

    <p class="font-ubuntu font-medium text-xl text-black-text mt-2">Newsletters</p>
    <div class="custom-horizontal-line"></div>
    <div class="flex flex-row items-center mt-6">
        <button type="button" class="py-1.5 px-2 mr-2 text-md font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
            <div class="flex flex-row items-center justify-center">
                <p class="font-ubuntu text-md">Subscribe to our newsletter</p>
            </div>
        </button>
        <p class="font-lato font-medium text-md text-disabled-gray ml-4">You can unsubscribe at any time</p>
    </div>

</div>