{% extends 'customer/base.html.twig' %}

{% block title %}User settings{% endblock %}

{% block content %}
    <div class="container my-10 mx-auto px-4 xl:px-0">
        <div class="bg-white border border-gray-200 rounded-lg rounded-br-lg shadow-xl w-full min-h-65-screen">
            <div class="flex flex-row">
                <div class="flex flex-col bg-[#F1F1F1] px-8 w-1/6 min-h-65-screen">
                    <p class="font-ubuntu font-medium text-xl text-black-text mt-10 pb-2">SETTINGS</p>
                    <p class="font-ubuntu font-medium text-lg text-disabled-gray uppercase">general</p>
                    <ul class="mt-3 space-y-1.5">
                        <li class="font-lato font-medium text-base text-black-text hover:bg-[#F5EBFD] highlight">
                            <a href="#" id="tab-account-settings">Account Settings</a>
                        </li>
                        <li class="font-lato font-medium text-base text-black-text hover:bg-[#F5EBFD]">
                            <a href="#" id="tab-privacy-newsletters">Privacy & Newsletters</a>
                        </li>
                        <li class="font-lato font-medium text-base text-black-text hover:bg-[#F5EBFD]">
                            <a href="#" id="tab-language-location">Language & addresses</a>
                        </li>
                    </ul>
                </div>
                <div class="flex flex-col mt-10 mx-10 w-5/6 min-h-65-screen">
                    {% include "customer/user/settings/_account_settings.html.twig" %}
                    {% include "customer/user/settings/_privacy_newsletter.html.twig" %}
                    {% include "customer/user/settings/_language_adresses.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('build/app/styles/customer/user/settings/account-settings.scss') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app/js/customer/user/settings.js') }}" defer></script>
{% endblock %}