<div class="flex flex-row justify-between px-4 py-3">
    <p class="font-lato font-bold text-[#A535FF]">Mark all as read</p>
    <p class="font-lato font-bold text-[#7D00E2]">See all</p>
</div>

<ul class="py-2 font-lato text-sm text-black-text" aria-labelledby="dropdownDefaultButton">
    <li class="border-b">
        <a href="/profile" class="flex flex-row items-center block px-3 py-2 hover:bg-[#F5EBFD] space-x-2">
            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="8" fill="#A535FF" />
            </svg>
            <div class="flex flex-row items-center space-x-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiUQ81m1FEWnNAXTIMivxS_AS7Z-QpD3WkFAYJlSJTpP6ap_kLETK66hQYx7Pc9Z4wOYg&usqp=CAU" class="rounded-full object-cover w-16 h-16">
                <div class="flex flex-col">
                    <p class="notification-text font-lato text-black-text">You made a sale! Check here the status of the new order.</p>
                    <p class="font-lato text-sm text-disabled-gray">30 minutes ago</p>
                </div>
            </div>
        </a>
    </li>
    <li class="border-b">
        <a href="#" class="flex flex-row items-center block px-4 py-2 hover:bg-[#F5EBFD] space-x-2">
            <div class="flex flex-row items-center space-x-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiUQ81m1FEWnNAXTIMivxS_AS7Z-QpD3WkFAYJlSJTpP6ap_kLETK66hQYx7Pc9Z4wOYg&usqp=CAU" class="rounded-full object-cover w-16 h-16">
                <div class="flex flex-col">
                    <p class="notification-text font-lato text-disabled-gray">An item from your wantlist has been listed. To purchase, click here and add the item to your shopping cart.</p>
                    <p class="font-lato text-sm text-[#CBCBCB]">30 minutes ago</p>
                </div>
            </div>
        </a>
    </li>
    <li class="border-b">
        <a href="#" class="flex flex-row items-center block px-4 py-2 hover:bg-[#F5EBFD] space-x-2">
            <div class="flex flex-row items-center space-x-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiUQ81m1FEWnNAXTIMivxS_AS7Z-QpD3WkFAYJlSJTpP6ap_kLETK66hQYx7Pc9Z4wOYg&usqp=CAU" class="rounded-full object-cover w-16 h-16">
                <div class="flex flex-col">
                    <p class="notification-text font-lato text-disabled-gray">An item from your wantlist has been listed. To purchase, click here and add the item to your shopping cart.</p>
                    <p class="font-lato text-sm text-[#CBCBCB]">30 minutes ago</p>
                </div>
            </div>
        </a>
    </li>
    <li class="border-b">
        <a href="#" class="flex flex-row items-center block px-4 py-2 hover:bg-[#F5EBFD] space-x-2">
            <div class="flex flex-row items-center space-x-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiUQ81m1FEWnNAXTIMivxS_AS7Z-QpD3WkFAYJlSJTpP6ap_kLETK66hQYx7Pc9Z4wOYg&usqp=CAU" class="rounded-full object-cover w-16 h-16">
                <div class="flex flex-col">
                    <p class="notification-text font-lato text-disabled-gray">An item from your wantlist has been listed. To purchase, click here and add the item to your shopping cart.</p>
                    <p class="font-lato text-sm text-[#CBCBCB]">30 minutes ago</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="flex flex-row items-center block px-4 py-2 hover:bg-[#F5EBFD] space-x-2">
            <div class="flex flex-row items-center space-x-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiUQ81m1FEWnNAXTIMivxS_AS7Z-QpD3WkFAYJlSJTpP6ap_kLETK66hQYx7Pc9Z4wOYg&usqp=CAU" class="rounded-full object-cover w-16 h-16">
                <div class="flex flex-col">
                    <p class="notification-text font-lato text-disabled-gray">An item from your wantlist has been listed. To purchase, click here and add the item to your shopping cart.</p>
                    <p class="font-lato text-sm text-[#CBCBCB]">30 minutes ago</p>
                </div>
            </div>
        </a>
    </li>
</ul>